<div id= 'food_meal'>
	<%= button_tag(:class => 'to_meal_profile') do %>
		<%= link_to 'Back to Meal Profile', user_path(session[:current_user]) %><br>
	<% end %><br>	

<div id= 'food_form'>
	<%= form_for @food do |f| %>
	
		<a id="food_name"><%= f.label :name, 'Name:' %></a><br>
		<a><%= f.text_field :name %></a><br>
		<br>
		<a id="total_cals"><%= f.label :calories, 'Calories:' %></a><br>
		<a><%= f.text_field :calories %></a><br>
		<br>
		<a id="fat_cals"><%= f.label :fat_calories, 'Fat Calories:' %></a><br>
		<a><%= f.text_field :fat_calories %></a><br>
		<br>
		<a id="carbs"><%= f.label :carbohydrates, 'Carbohydrates:' %></a><br>
		<a><%= f.text_field :carbohydrates %></a><br>
		<br>
		<a id="fats"><%= f.label :fats, 'Fat:' %></a><br>
		<a><%= f.text_field :fats %></a><br>
		<br>
		<a id="protein"><%= f.label :protein, 'Protein:' %></a><br>
		<a><%= f.text_field :protein %></a><br>
		<br>
		<%= f.hidden_field :meal_id, :value => params[:id] %><br>
		<%= f.submit %><br>
	
	<% end %>
</div>
	
</div>