<h1> NutritionIX </h1>

	<h2 class = "name">
		<%= "Food: #{@food[:name]}" %>
	</h2>

<% @results.each do |result| %>
	<ul><%= result.hits.fields.item_name %></ul>
	<ul><%= result.hits.fields.nf_calories %></ul>
	<ul><%= result.hits.fields.nf_calories_from_fat %></ul>
	<ul><%= result.hits.fields.nf_total_carbohydrates %></ul>
	<ul><%= result.hits.fields.nf_total_fat %></ul>
	<ul><%= result.hits.fields.nf_protein %></ul>
<% end %>
	

<%= form_for @food do |f| %>
	<%= f.hidden_field :calories %><br>
	<br>
	<%= f.hidden_field :fat_calories %><br>
	<br>
	<%= f.hidden_field :carbohydrates %><br>
	<br>
	<%= f.hidden_field :fats %><br>
	<br>
	<%= f.hidden_field :protein %><br>
	<br>
	<%= f.submit %>
<% end %>	