<h1> NutritionIX </h1>

	<h2 class = "name">
		<%= "Food: #{@food[:name]}" %>
	</h2>

<% @results.each do |result| %>
	<ul><%= result.total_hits %></ul>
	<ul><%= result.max_score %></ul>
	<ul><%= result.hits %></ul>
<% end %>
	

<%= form_for @food do |f| %>
	<%= f.hidden_field :calories %><br>
	<br>
	<%= f.hidden_field :fat_calories %><br>
	<br>
	<%= f.hidden_field :carbohydrates %><br>
	<br>
	<%= f.hidden_field :fats %><br>
	<br>
	<%= f.hidden_field :protein %><br>
	<br>
	<%= f.submit %>
<% end %>	