<div id= "show_foods">
	<%= link_to '+ NutritionIX', add_info_food_path %><br>
	
<h1> Nutritional Breakdown </h2>

	<h2 class = "name">
		<%= "Food: #{@food[:name]}" %>
	</h2>

	<h2 class = "calories">
		<%= "Calories: #{@food[:calories]} calories" %>
	</h2>

	<h2 class = "fat_calories">
		<%= "Fat Calories: #{@food[:fat_calories]} calories" %>
	</h2>

	<h2 class = "carbohydrates">
		<%= "Carbs: #{@food[:carbohydrates]} g\'s" %>
	</h2>

	<h2 class = "fats">
		<%= "Fat: #{@food[:fats]} g\'s" %>
	</h2>

	<h2 class = "protein">
		<%= "Protein: #{@food[:protein]} g\'s" %>
	</h2>

	<%= form_tag user_path(session[:current_user]), method: :get do %>
		<%= button_tag 'Meals' %>
	<% end %><br>
	<br>
	<%= form_tag :back, method: :get do %>
		<%= button_tag 'Meal' %>
	<% end %><br>
</div>

