<!DOCTYPE html>
<html>
<head>
  <title>FoodApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id= 'session_title'>
	<h1>activehealth</h1>
</div>

<div id= 'sign_in_nav'>
	<p>
		<% if current_user %>
		Hi there <%= current_user[:full_name] %>, what <span style="color:#b0ff01;">NOMS</span> have you had today?
		
		<a id="logout_link"><%= link_to 'Log Out', sessions_path, method: :delete %></a>
		<% else %>
		<a id="login_link"><%= link_to 'Log In', sessions_new_path %></a> |
		<%= link_to 'Sign Up', new_user_path %> |
		<% end %>
	</p>
</div>	

<%= yield %>

</body>
</html>
